/**
* definicion de variables y colores 
*/

:root {
    --main-color: #4d4e53;
    --main-bg: rgb(255, 255, 255);
    --custom-bd: #ff9027;
    --custom-bg: #f38528;
    --custom-cl: rgb(255, 255, 255);
}

.main-color {
    color: var(--main-color);
}

.primary-color {
    color: var(--custom-bd);
}

.color-custom {
    color: var(--custom-bd);
}

.nav-tabs>li>a:hover {
    background-color: var(--custom-bg);
    border-color: var(--custom-bd);
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a:focus {
    background-color: var(--custom-bg);
    border: 1px solid var(--custom-bd);
}

.btn-custom {
    border-color: var(--custom-bd);
    background-color: var(--custom-bg);
}

.btn-custom-border {
    background: transparent;
    border-color: var(--custom-bd);
    color: var(--custom-cl);
}

.input-custom {
    border-color: var(--custom-bd);
    background-color: transparent;
}


/*input.input-custom:not([value='']),*/

input.input-custom:active,
input.input-custom:focus {
    border-color: var(--custom-bd);
    background-color: var(--main-bg);
}

.features .feature .icon-container .icon {
    border: 1px solid var(--custom-bd);
}

.btn-send,
.newsletter input {
    border: 1px solid var(--main-bg);
}

.btn-send:hover,
.btn-send:active,
.btn-custom:hover,
.btn-custom-border:hover,
.btn-slide:hover,
.navbar-default .navbar-toggle,
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus,
.navbar-toggle {
    background-color: var(--custom-bg);
    border-color: var(--custom-bd);
}

.btn-slide,
.features .feature:hover .icon-container .icon,
.footer span.jobs {
    background-color: var(--custom-bg);
}

.underline {
    border-top: 4px solid var(--custom-bd)
}

.underline-small {
    border-top: 2px solid var(--custom-bd);
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus,
.navbar-nav>li.current a,
.features .feature .icon-container .icon,
.service i,
.service:hover h4,
.screens .screen .hover-screen i:hover,
.packages .package.featured .package-name,
ul.extra-features i,
.footer a:hover,
.footer i:hover {
    color: var(--custom-bd);
}

.footer span.jobs:after {
    border-right-color: var(--custom-bd);
}