/* Intro Section */

.intro {
    /*background-image: url(../images/intro.jpg);
    background-attachment: fixed;
    -webkit-background-size: cover;
    background-size: cover;*/
    position: relative;
    background-color: rgba(0, 0, 0, 0.35);
}

.intro::before {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    content: "";
    background-image: url(../images/intro.jpg);
    background-attachment: fixed;
    -webkit-background-size: cover;
    background-position: center;
    background-size: cover;
    z-index: -1;
    -webkit-filter: blur(1px);
    -moz-filter: blur(1px);
    -ms-filter: blur(1px);
    -o-filter: blur(1px);
    filter: blur(1px);
}

.intro .intro-section {
    /*max-width: 675px;*/
    padding: 130px 0;
    margin: 0 auto;
    text-align: center;
}

.intro .intro-section h1,
.intro .intro-section h2 {
    color: #fff;
    padding: 50px 0;
    font-weight: bold;
}

.intro .intro-section h1 {
    line-height: 1.7em;
}

.intro .intro-section h2 {
    line-height: 1.3em;
}

.intro .intro-section .btn-custom-border {
    color: #fff;
}

a.mouse {
    background-image: url(../images/mouse.png);
    background-repeat: no-repeat;
    width: 25px;
    height: 38px;
    display: block;
    position: absolute;
    bottom: 0px;
    left: 50%;
    margin-left: -12px;
}

a.mouse i {
    position: relative;
    color: #fff;
}


/* Features Section */

.features {
    background: #f9f9f9;
}

.features .features-left {
    text-align: right;
    margin-top: 112px;
}

.features .features-left .icon-container {
    float: right;
    margin-left: 40px;
}

.features .features-right {
    text-align: left;
    margin-top: 112px;
}

.features .features-right .icon-container {
    float: left;
    margin-right: 40px;
}

.features .feature {
    margin-bottom: 23px;
}

.features .feature:hover .icon-container .icon {
    color: #fff;
}

.features .feature h4 {
    margin-bottom: 20px;
}

.features .feature .icon-container {
    display: block;
    min-height: 120px;
}

.features .feature .icon-container .icon {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    line-height: 80px;
    font-size: 32px;
    text-align: center;
    -webkit-transition: all .15s linear;
    -moz-transition: all .15s linear;
    -ms-transition: all .15s linear;
    -o-transition: all .15s linear;
    transition: all .15s linear;
}

.features figure img {
    margin: 0 auto;
    display: block;
}