html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

html {
    font-size: 100%;
}

body {
    background-color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: -0.01em;
    overflow-x: hidden;
    position: relative;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

ul,
ol {
    padding-left: 0px;
}

ul li {
    list-style: none;
}

blockquote,
q {
    quotes: none;
    font-size: 0.9em;
    text-align: justify;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    color: #282828;
    background: transparent;
    -webkit-transition: all .15s linear;
    -moz-transition: all .15s linear;
    -ms-transition: all .15s linear;
    -o-transition: all .15s linear;
    transition: all .15s linear;
}

a:hover {
    text-decoration: none;
}

p {
    font-size: 16px;
    font-weight: 300;
    line-height: 2em;
    margin-bottom: 10px;
}

button {
    -webkit-transition: all .15s linear;
    -moz-transition: all .15s linear;
    -ms-transition: all .15s linear;
    -o-transition: all .15s linear;
    transition: all .15s linear;
}

input:focus,
textarea:focus,
select:focus {
    border: none;
    outline: none;
}

*::-webkit-input-placeholder {
    color: white;
}

*:-moz-placeholder {
    color: white;
}

*::-moz-placeholder {
    color: white;
}

*:-ms-input-placeholder {
    color: white;
}

.btn:focus,
.btn:active {
    outline: none;
}

*,
*:before,
*:after {
    -webkit-border-sizing: border-box;
    -moz-border-sizing: border-box;
    border-sizing: border-box;
}

figure img {
    display: block;
    margin: 0 auto;
}

.nopadding {
    padding-left: 0!important;
    padding-right: 0!important;
}

.animated {
    visibility: visible\9 !important;
}


/* Bootstrap Nav Tab Customize */

.nav-tabs {
    border: none;
    display: table;
    margin: 0 auto;
}

.nav-tabs>li {
    margin-left: -3px;
}

.nav-tabs>li>a {
    border: 1px solid #e1e1e1;
    border-radius: 0px;
    padding: 18px 0;
    width: 208px;
    text-align: center;
    font-weight: bold;
    color: #282828;
}

.nav-tabs>li>a:hover {
    color: #fff;
}

.nav-tabs>li:first-child>a {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.nav-tabs>li:last-child>a {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a:focus {
    z-index: 100;
    color: #fff;
}

.nav-tabs>li.active>a {
    color: #fff;
}

.logo-nav {
    max-height: 45px;
}

.logo-intro {
    max-height: 120px;
}

.logo-foot {
    max-height: 70px;
}


/* Heading Sizes */

h1 {
    font-size: 42px;
    font-weight: 300;
}

h2 {
    font-size: 38px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 18px;
    font-weight: 600;
}


/* Button Styles */

.btn-custom {
    border: 1px solid;
    background: transparent;
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    padding: 17px 45px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.btn-custom:hover,
.btn-custom:focus {
    color: #fff;
}

.btn-custom-border {
    background: transparent;
    color: #282828;
}

.btn-send {
    height: 62px;
    margin: 0 0 0 5px;
    vertical-align: top;
}

.btn i {
    padding-right: 5px;
}

.btn-slide {
    width: 55px;
    height: 55px;
    line-height: 53px;
    border-radius: 4px;
    color: #fff;
    font-size: 42px;
    text-align: center;
    vertical-align: middle;
    -webkit-transition: all .15s linear;
    -moz-transition: all .15s linear;
    -ms-transition: all .15s linear;
    -o-transition: all .15s linear;
    transition: all .15s linear;
}

.input-custom {
    color: #FFF;
    font-weight: 600;
    font-size: 18px;
    padding: 17px 15px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    outline: none;
    border-style: solid;
    border-width: 2px;
    width: 100%;
}

input.input-custom:active,
input.input-custom:focus,
.modal input.input-custom {
    outline: none;
    border-style: solid;
    border-width: 2px;
    color: #444;
}


/* Strokes */

.underline {
    display: inline-block;
    width: 160px;
    height: 1px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.underline-small {
    display: inline-block;
    width: 160px;
    margin: 0 auto;
    height: 1px;
}

.divider {
    width: 100%;
    height: 1px;
    border-top: 1px solid #e1e1e1;
}


/* Sections */

section {
    padding: 100px 0;
}

.section-head {
    font-size: 18px;
    text-align: center;
    margin-bottom: 70px;
}

.section-head p {
    margin-bottom: 0px;
}


/* Start of the Stylesheet */


/* Fixed Navbar */

.navbar {
    min-height: 80px;
    background-color: #fff;
    border: none;
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
    animation-name: slideUp;
    -webkit-animation-name: slideUp;
    animation-duration: 0.2s;
    -webkit-animation-duration: 0.2s;
    opacity: 0;
    margin-top: -80px;
    margin-bottom: 0px;
}

.navbar.fixednav {
    animation-name: slideDown;
    -webkit-animation-name: slideDown;
    animation-duration: 0.5s;
    -webkit-animation-duration: 0.5s;
    opacity: 1!important;
    z-index: 1000;
    margin-top: 0px;
}

.navbar-default .navbar-nav>li>a {
    font-size: 14px;
    font-weight: bold;
    color: #282828;
    padding-top: 30px;
    padding-bottom: 30px;
}


/* Footer Section */

.footer {
    padding: 100px 0 20px 0;
    background-color: #f2f2f2;
}

.footer .underline-small {
    margin: 20px auto;
}

.footer span.jobs {
    font-size: 11px;
    font-weight: 600;
    text-transform: uppercase;
    margin-left: 8px;
    color: #fff;
    border-radius: 4px;
    padding: 3px 8px;
    position: relative;
}

.footer span.jobs:after {
    right: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-width: 5px;
    margin-top: -5px;
}

.footer small {
    font-size: 13px;
    color: #666;
}

.footer img {
    margin-bottom: 30px;
}

.footer ul {
    margin-bottom: 40px;
}

.footer ul li {
    margin-bottom: 10px;
    font-size: 14px;
}

.footer a,
.footer p {
    font-size: 14px;
}

.footer i {
    font-size: 16px;
}

.footer h4 {
    margin-bottom: 5px;
}