/* Intro Section */

.intro {
    /*background-image: url(../images/intro.jpg);
    background-attachment: fixed;
    -webkit-background-size: cover;
    background-size: cover;*/
    position: relative;
    background-color: rgba(0, 0, 0, 0.35);
    padding: 100px 0 30px;
}

.intro::before {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    content: "";
    background-image: url(../images/intro.jpg);
    background-attachment: fixed;
    -webkit-background-size: cover;
    background-position: center;
    background-size: cover;
    z-index: -1;
    -webkit-filter: blur(1px);
    -moz-filter: blur(1px);
    -ms-filter: blur(1px);
    -o-filter: blur(1px);
    filter: blur(1px);
}

.intro .intro-section {
    padding: 20px 0;
    margin: 0 auto;
    text-align: center;
}

.intro .intro-section h1,
.intro .intro-section h2 {
    color: #fff;
    padding: 50px 0;
    font-weight: bold;
}

.intro .intro-section h1 {
    line-height: 1.7em;
}

.intro .intro-section h2 {
    line-height: 1.3em;
}

.intro .intro-section .btn-custom-border {
    color: #fff;
}

a.mouse {
    background-image: url(../images/mouse.png);
    background-repeat: no-repeat;
    width: 25px;
    height: 38px;
    display: block;
    position: absolute;
    bottom: 0px;
    left: 50%;
    margin-left: -12px;
}

a.mouse i {
    position: relative;
    color: #fff;
}

section {
    padding: 50px 0;
}


/* Packages Section */

.packages {
    background: #f9f9f9;
}

.packages .package {
    border: 1px solid #e1e1e1;
    border-radius: 4px;
    padding: 20px;
    margin: 0 0 10px;
    box-shadow: 0 0 5px #ddd;
}

.packages .package.featured {
    padding: 45px 0;
    margin-top: -15px;
}

.packages .package.actual {
    background-color: #f5f5f5;
}

.packages .package .package-name:hover {
    cursor: pointer;
}

.packages .package .package-price {
    font-size: 30px;
    font-weight: 300;
    display: block;
}

.packages .package .package-features ul li {
    margin: 15px 0;
}

.packages .package .btn {
    margin-top: 10px;
    width: 208px;
}